.new-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
}


.new-container form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: clamp(300px, 80%, 500px);
}
