h2 {
  text-align: center;
}


.header {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.searchBar input{
  margin-top: 2vh;
}

.groceryContainer {
  display: flex;
  justify-content: center;
  gap: 4vw;
  flex-flow: row wrap;
  margin-bottom: 5vh;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-right: 1.5vw;
}

.trashcan {
  position: relative;
  left: 6px;
  margin-top: 5px;
  transition-duration: 0.2s;
}

.trashcan:hover {
  transform: scale(1.05);
}

.MuiButton-root {
  display: none;
  text-transform: lowercase;
}
