

h2 {
  text-align: center;
}


.header {
  display: flex;
  justify-content: center;
  gap: 1vw;

}

.searchBar {
  margin-bottom: 5px;
  position: fixed;
  z-index: 333;
  top: 12%;
  left: 65%;
}

.searchBar input{
  margin-top: 1.5vh;
}


.searchInput  {
  width: 30vw;
  height: 1.5em;
  margin-bottom:
}


.groceryContainer {
  display: flex;
  justify-content: center;
  gap: 5vw;
  flex-flow: row wrap;
  margin-top: 30vh;
}

.buttons {
  display: flex;
  justify-content: center;
}

.trashcan {
  margin-top: 5px;
}
