.info-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;

}

.review-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-top: 40vh;
}

.review-container form {
  display: flex;
  flex-direction: column;
  text-align:
}

.textarea textarea {
  width: 99%;
}
