.info-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.review-container form {
  display: flex;
  flex-direction: column;
  text-align:
}
