img {
  width: 250px;
}

li {
  list-style-type: none;
}


.groceryDiv {
  width: 250px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.goog-te-gadget-simple span{
  display: none;
}
