@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  background: #daf2df;
  font-family: 'Nunito', sans-serif;
  color: #15392f;
}

img {
  width: 250px;

  margin-top: 1vh;
  margin-bottom: 1vh;
  object-fit: cover;
}

.groceryImage {
  width: 250px;
  height: 250px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  object-fit: cover;
}

a {
  /* text-decoration: none; */
  color: #15392f;
}

li {
  list-style-type: none;
}


.groceryDiv {
  width: 250px;
  /* background: #F2DADE; */
  /* background: #F2D7CE; */
  background: #F2F1DA;
  /* background: #FFE6BF; */
  border: 2px solid #eba743;
  border-radius: 5px;
  padding-top: 2vh;
}

.groceryName {
  text-align: center;

}

.errorMessage {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.groceryPrice {
  /* margin-left: 2vw; */
  font-size: 1.2em;
  font-weight: 800;
  color: #7d0202;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.loginButton {
  padding: 8px;
  /* width: 200px; */
  align-self: center;
  background: #F2F1DA;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  transition-duration: 0.3s;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

}

.loginButton:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: #eba743;
}


.loginButtonDiv {
  display: flex;
  flex-direction: row;
  /* align-self: center; */
  position: relative;
  bottom: 10px;
  right: 20px;
  top: 20px;
}

.loginDiv {
  text-align: center;

}

.loginForm {
  display:flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-bottom: 4vh;
  align-items: center;
}

.accountButton {
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: 1em;
  font-family: 'Nunito';
  font-weight: 500;
  color: #15392f;

}

.accountButton:hover {
  cursor: pointer;
}

.buttonDiv {
  text-align: center;
  margin-bottom: 5vh;
}

.searchDiv {
  position: relative;
}

.navbarRight {
  display: flex;
  gap: 40px;
  margin-left: 10vw;
  /* align-items: flex-start; */
}
.search-picshow {
  height: 20px;
  width: 20px;
  position: fixed;
  bottom: 82.7%;
  right: 5vw;
  z-index: 1000;

}



.goog-te-gadget-simple {
  border: none !important;
   background-color: transparent !important;
   outline: none !important;
   margin: 0;
   position: relative;
   bottom: 1vh;
}

#google_translate_element {
  background: transparent;
  align-self: center;
  position: relative;
  top: 9px;

}

.goog-te-gadget span {
  display: none;
}

.goog-te-gadget-icon {
  border-radius: 50%;

  transition-duration: 0.4s;
}

.goog-te-gadget-icon:hover {
  transform: scale(1.2)
}

#:0.targetLanguage {
  display: none;
}

.logoAnchor {
  width: min(20%, 100px);
  margin-right: 2vw;
}

.logo {
  width: min(100%, 90px);

}

.logoDiv {
  display: flex;
  flex-direction: row;
  /* gap: 2vw; */
  margin-left: 2vw;
  padding-top: 1vh;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.logoName {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.appName {
  /* text-align: center; */
  align-self: center;
  width: min(80%, 450px)
}

.searchInput {
  height: 30px;
  width: 20vw;
  border-radius: 8px;
  position: fixed;
  z-index: 1000;
  bottom: 82.75vh;
  right: 4vw;
  font-family: 'Nunito', sans-serif;
  padding-left: 10px;
  font-size: 1em;
  font-weight: 600;
}

.searchInput2 {
  height: 30px;
  width: 200px;
  margin-left: 73vw;
  /* align-self: center; */
  border-radius: 8px;
  position: fixed;
  z-index: 1000;
  /* margin-top: 10vh; */
  bottom: 83.75vh;
  right: 4vw;
  font-family: 'Nunito', sans-serif;
  padding-left: 10px;
}

.link {
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
  font-weight: 700;
}

.link:hover {
  transform: scale(1.1);
  color: #F2F1DA;

}

.link3 {
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
  font-weight: 700;
  margin-right: 38px;
}

.link3:hover {
  transform: scale(1.1);
  color: #F2F1DA;

}

.headerDiv {
  background: #b4dbbb;
  position: fixed;
  top: 0;
  opacity: 0.96;
  width: 100%;
  height: 175px;
  z-index: 999;
  display: flex;
  flex-direction: column;

}

.navBar {
  padding-bottom: 1vh;

}

.body {
  margin-top: 18vh;
  text-align: center;
  margin-bottom: 15vh;
}

.new-container, .reviewDiv {
  margin-top: 25vh;
}

.button {
  color: black;
}

.nameDiv {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.groceryName {
  padding: 0 1vw 1vw 1vw;
  font-size: 1.1em;
  font-weight: 800;
  align-self: center;
}

.ourProducts {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  margin-top: 5vh;
}

.trashIcon {
  /* transition-duration: 0.3s; */
}

.trashIcon:hover {
  transform: scale(1.1);
  color: #eb9a86;
  cursor: pointer;
}

.editButton {
  position: relative;
  top: 5px;
  background-color: transparent;
  background: none;
  transition-duration: 0.2s;
}

.editButton:hover {
  position: relative;
  top: 5px;
  transform: scale(1.05);
  background-color: transparent;
}

.editIcon:hover {
  transform: scale(1.1);
  color: #eb9a86;
  cursor: pointer;
  background-color: transparent;
  margin:0;
}



.carouselContainer {
  width: min(100vw, 1250px);
}

.carouselContainerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.groceryContainerDiv {
  display:flex;
  flex-direction: column;
}


footer {
  background: #b4dbbb;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.footerUL {
  display: flex;
  flex-direction: row;
  gap: 8vw;
  justify-content: center;
  margin-bottom: 3vh;
}

.footerLogoDiv {
  text-align: center;

}

.footerLogo {
  width: min(15%, 100px);

}

.footerLI {
  align-self: center;
  font-weight: 700;
  font-size: .9em;
  transition-duration: 0.3s
}

.footerLI:hover {
  cursor: pointer;
  color: #F2F1DA;
}

.socialIconsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 3vh;
}

.socialIcon {
  transition-duration: 0.4s;
}

.socialIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bottomLine {
  text-align: center;
  font-size: 8pt;
  /* margin-bottom: 3vh; */
}

.new-container {
  margin-top: 30vh;
  margin-bottom: 20vh;
}

.addInput {
  padding: 8px;
  /* border-radius: 5px; */
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;

}

.addInput2 {
  padding: 8px;
  /* border-radius: 5px; */
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.stockDelivery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5vh;
}


.stockCheck {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  font-family: 'Nunito', sans-serif;
}

.submitButton {
  padding: 8px;
  width: 200px;
  align-self: center;
  background: #F2F1DA;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  transition-duration: 0.3s;
  font-weight: 600;
}

.submitButton:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: #eba743;
}

.detailsButton {
  align-self: center;
  padding: 4px;
  font-family: 'Nunito', sans-serif;
  transition-duration: 0.3s;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid black;
  background: #eba743;
  color:
}

.detailsButton:hover {
  transform: scale(1.05);
  background: #daf2df;
  cursor: pointer;
}

.logoutButtonDiv {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}


.logoutButton {
  padding: 8px;
  width: 150px;
  align-self: center;
  background: #F2F1DA;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  transition-duration: 0.3s;
  font-weight: 600;
  margin: 1vh 0;
}

.logoutButton:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: #eba743;
}

.logoutDiv, .welcomeDiv {
  text-align: center;
}
.checkbox {
  width: 20px;
  height: 20px;
}

.showModal {
  background: #F2F1DA;
  font-family: 'Nunito', sans-serif;
  /* display: flex;
  flex-direction: column; */
}

.carousel {
  display: none;

}

.carousel-slider {
  display: block;

}

.middleImageDiv1 {
  display: flex;
  flex-direction: column;
  background: #E1F2DC;
  /* margin-top: 10px; */
}

.middleImageDiv2 {
  display: flex;
  flex-direction: column;
  background: #FC8D6A;
  /* margin-top: 10px; */
}


.middleImageDiv3 {
  display: flex;
  flex-direction: column;
  background: #FFF7C9;
  /* margin-top: 10px; */
}


/* .filler1 {
height: 20px;
background: #E1F2DC;
}
.filler2 {
 height: 10px;
 background: #FC8D6A;
} */

.filler3 {
  height: 25px;
  /* background: #FFF7C9; */
}

.priceShowButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 75px;
  margin-bottom: 1vh;
}

.showButton {
  font-family: 'Nunito';
  align-self: center;

}



.MuiTypography-root h2 {
  font-family: 'Nunito';
}

#modal-modal-description {
  text-align: center;

}



h4 {
  font-family: 'Nunito';
  font-size: 1.1em;
  margin: 10px 0;
}

h4 #text {
font-family: 'Nunito';
}

.showButtons {
  margin-left: 200px;
}

.showStuff {
  font-family: 'Nunito';
}

.showStuffBold {
    font-family: 'Nunito';
    font-weight: 700;
    line-height: 0;
    font-size: 1.1em;
}

.showName {
  font-size: 1.1em;
}

.imgDiv {
  text-align: center;
  width: 100%;
  background: #F2F1DA;
  padding-top: 20px;

}

.itemNumber {
  align-self: center;
  font-weight: 600;
  margin-bottom: 1vh;

}

.closeIcon {
  position: relative;
  left: 395px;
  bottom: 100px;
  transition-duration: 0.4s;
}

.closeIcon:hover {
  transform: scale(1.2);
  cursor: pointer;

}

.closeIcon2 {
  position: relative;
  left: 395px;
  bottom: 75px;
  transition-duration: 0.4s;
}

.closeIcon2:hover {
  transform: scale(1.2);
  cursor: pointer;

}

.cartContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 4vw;
  flex-flow: row wrap;
  margin-bottom: 5vh;
  margin-top: 25vh;
}
